main {
  margin: 50px auto;
  width: 800px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  text-decoration: underline;
}

h3 {
  text-align: center;
}

// @media (min-width: 1280px) {
// .bg-menu::before {
//   content: "";
//   position: fixed;
//   top: 0;
//   right: 0;
//   width: 100%; /* Ocupa el 70% del lado derecho */
//   height: 100%;
//   background-image: url("../../../assets/menu.jpg"); /* Ruta de la imagen */
//   background-size: cover;
//   background-position: center;
//   z-index: -1; /* Coloca la imagen detrás del contenido */
//   opacity: 0.6; /* Ajusta la opacidad de la imagen */

//   /* Superposición de color morado */
//   background-color: rgba(34, 0, 128, 0.6); /* Color morado con opacidad */
//   background-blend-mode: overlay; /* Mezcla la imagen con el color morado */
// }
// // }

// @media (min-width: 1280px) {
//   .bg-menu::before {
//     width: 70%; /* Ocupa el 70% del lado derecho */

//     clip-path: polygon(0 50%, 15% 0, 100% 0, 100% 50%, 100% 100%, 15% 100%);
//   }
// }

.encabezado {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 3px;
  color: black;
}
.subtitulo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: black;
  margin-bottom: 50px;
}
.bg-menu {
  padding: 70px 40px;
}

.menu {
  display: grid;
  margin-bottom: 50px;
}
// @media (min-width: 1280px) {
//   .menu {
//     grid-template-columns: 1fr 3fr;
//   }
// }

.button {
  all: unset;
  text-align: center;
  width: auto;
  padding: 5px 25px;
  border: none;
  border: 1px solid #343a40;
  color: #343a40;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: white;
  background-color: #343a40;
  cursor: pointer;
}

.box {
  border: 1px solid rgb(52, 58, 64, 0.5);
  padding: 30px;
  margin-bottom: 10px;
  background-color: rgb(250, 250, 250);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.box img {
  max-width: 230px;
  margin: 15px 0;
  max-height: 180px;
}
.precio {
  font-size: 25px;
  font-weight: 700;
  color: #343a40;
}
.grid {
  margin-top: 60px;
  display: grid;
  gap: 20px 40px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .grid {
    margin: 60px 100px 0 100px;
    padding-right: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.seleccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.mobile-seleccion {
  display: none; /* Oculto por defecto */
  text-align: center;
  position: relative;
}

.selected-category {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  color: #343a40;
  // background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border: 1px solid #343a40;
  position: relative;
  transition: background-color 0.2s;
}

.selected-category:hover {
  cursor: pointer;
  background-color: #343a40;
  color: white;
}
.toggle-menu {
  all: unset;
  padding: 0 4px;
  font-size: 16px;
  margin-left: 10px;
  color: #343a40;
}

.submenu-mobile {
  display: none; /* Oculto por defecto */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 1000;
  margin-top: 10px;
}

.submenu-mobile.show {
  display: block; /* Mostrar cuando tiene la clase "show" */
}

.submenu-mobile div {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
}

.submenu-mobile div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Menú original para pantallas grandes */
.seleccion {
  display: none; /* Ocultar el menú original en pantallas pequeñas */
  flex-wrap: wrap;
}

.mobile-seleccion {
  display: block; /* Mostrar menú móvil en pantallas pequeñas */
}
@media (min-width: 768px) {
  .mobile-seleccion {
    display: none; /* Ocultar en pantallas grandes */
  }

  .seleccion {
    display: flex; /* Mostrar el menú original en pantallas grandes */
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

// @media (max-width: 767px) {
// }

// @media (min-width: 1280px) {
//   .seleccion {
//     flex-direction: column;
//   }
// }

.opcion {
  position: relative; /* Necesario para el menú desplegable */
}
