<div class="bg-menu">

    <div class="menu  container">
        <!-- asdasdasdasd -->
        <h1 class="encabezado">
            Menú
        </h1>
        <h2 class="subtitulo">
            ¡Disfruta de nuestra deliciosa comida!
        </h2>
        <div class="mobile-seleccion">
            <div class="selected-category" (click)="toggleMenu()">
                {{ selectedCategory }}
                <p class="toggle-menu">▼</p>
            </div>
            <div class="submenu-mobile" [class.show]="isMenuOpen">
                <div (click)="selectCategory('TODOS')">TODOS</div>
                <div (click)="selectCategory('COMIDA')">COMIDA</div>
                <div (click)="selectCategory('BEBIDAS')">BEBIDAS</div>
                <div (click)="selectCategory('POSTRES')">POSTRES</div>
                <div (click)="selectCategory('ESPECIALES')">ESPECIALES</div>
            </div>
        </div>

        <div class="seleccion">
            <div class="opcion button" (click)="selectCategory('TODOS')">TODOS</div>
            <div class="opcion button" (click)="selectCategory('COMIDA')">COMIDA</div>
            <div class="opcion button" (click)="selectCategory('BEBIDAS')">BEBIDAS</div>
            <div class="opcion button" (click)="selectCategory('POSTRES')">POSTRES</div>
            <div class="opcion button" (click)="selectCategory('ESPECIALES')">ESPECIALES</div>
        </div>

        <!-- asdasdasdasd -->
        <div class="grid" *ngIf="selectedCategory === 'TODOS'">
            <div class="box">
                <h1>Hamburguesa</h1>
                <img src="https://s3.abcstatics.com/media/gurmesevilla/2012/01/comida-rapida-casera.jpg" alt="comida">
                <p class="precio">$80</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Frappé</h1>
                <img src="https://img.freepik.com/fotos-premium/cafe-frape-frio-tu-sed-ai-generation_724548-21265.jpg"
                    alt="bebida">
                <p class="precio">$50</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Pastel de fresa</h1>
                <img src="https://cdn7.kiwilimon.com/recetaimagen/16297/8238.jpg" alt="postre">
                <p class="precio">$45</p>
                <button class="button add">AÑADIR</button>
            </div>
        </div>
        <div class="grid" *ngIf="selectedCategory === 'COMIDA'">
            <div class="box">
                <h1>Hamburguesa</h1>
                <img src="https://s3.abcstatics.com/media/gurmesevilla/2012/01/comida-rapida-casera.jpg" alt="comida">
                <p class="precio">$80</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Hamburguesa</h1>
                <img src="https://s3.abcstatics.com/media/gurmesevilla/2012/01/comida-rapida-casera.jpg" alt="comida">
                <p class="precio">$80</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Hamburguesa</h1>
                <img src="https://s3.abcstatics.com/media/gurmesevilla/2012/01/comida-rapida-casera.jpg" alt="comida">
                <p class="precio">$80</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Hamburguesa</h1>
                <img src="https://s3.abcstatics.com/media/gurmesevilla/2012/01/comida-rapida-casera.jpg" alt="comida">
                <p class="precio">$80</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Hamburguesa</h1>
                <img src="https://s3.abcstatics.com/media/gurmesevilla/2012/01/comida-rapida-casera.jpg" alt="comida">
                <p class="precio">$80</p>
                <button class="button add">AÑADIR</button>
            </div>
        </div>
        <div class="grid" *ngIf="selectedCategory === 'BEBIDAS'">
            <div class="box">
                <h1>Frappé</h1>
                <img src="https://img.freepik.com/fotos-premium/cafe-frape-frio-tu-sed-ai-generation_724548-21265.jpg"
                    alt="bebida">
                <p class="precio">$50</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Frappé</h1>
                <img src="https://img.freepik.com/fotos-premium/cafe-frape-frio-tu-sed-ai-generation_724548-21265.jpg"
                    alt="bebida">
                <p class="precio">$50</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Frappé</h1>
                <img src="https://img.freepik.com/fotos-premium/cafe-frape-frio-tu-sed-ai-generation_724548-21265.jpg"
                    alt="bebida">
                <p class="precio">$50</p>
                <button class="button add">AÑADIR</button>
            </div>
        </div>
        <div class="grid" *ngIf="selectedCategory === 'POSTRES'">
            <div class="box">
                <h1>Pastel de fresa</h1>
                <img src="https://cdn7.kiwilimon.com/recetaimagen/16297/8238.jpg" alt="postre">
                <p class="precio">$45</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Pastel de fresa</h1>
                <img src="https://cdn7.kiwilimon.com/recetaimagen/16297/8238.jpg" alt="postre">
                <p class="precio">$45</p>
                <button class="button add">AÑADIR</button>
            </div>
        </div>
        <div class="grid" *ngIf="selectedCategory === 'ESPECIALES'">
            <div class="box">
                <h1>Especial 1</h1>
                <p>$$</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Especial 2</h1>
                <p>$$</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Especial 1</h1>
                <p>$$</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Especial 2</h1>
                <p>$$</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Especial 1</h1>
                <p>$$</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Especial 2</h1>
                <p>$$</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Especial 1</h1>
                <p>$$</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Especial 2</h1>
                <p>$$</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Especial 1</h1>
                <p>$$</p>
                <button class="button add">AÑADIR</button>
            </div>
            <div class="box">
                <h1>Especial 2</h1>
                <p>$$</p>
                <button class="button add">AÑADIR</button>
            </div>
        </div>
    </div>
</div>