h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.2;
  margin: 1rem 0 4rem 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background-image: url(../../../assets/menu.jpg);
  background-color: rgba(0, 0, 0, 0.41);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
  padding: 7rem 0;
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--blanco);
}

.logo img {
  width: 300px;
}

.nombre-sitio {
  color: white;
  text-align: center;
  font-size: 50px;
}

@media (min-width: 768px) {
  .nombre-sitio {
    font-size: 76px;
  }
}

.nombre-sitio span {
  font-weight: 900;
}

@media (min-width: 992px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header a {
  color: var(--blanco);
  font-size: 2rem;
}

.slogan {
  text-align: center;
  color: white;
}
@media (min-width: 768px) {
  .slogan {
    text-align: right;
  }
}
.slogan h1 {
  font-size: 30px;
  margin: 0;
}
@media (min-width: 768px) {
  .slogan h1 {
    font-size: 2rem;
  }
  .slogan {
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .slogan h1 {
    font-size: 3rem;
  }
  .slogan {
    text-align: end;
  }
}

.slogan p {
  margin: 0;
  line-height: 1;
}

// NAVEGACION

.navegacion,
.nav-phone {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 50px;
  padding: 20px;
}
.navegacion {
  margin-bottom: 0;
  margin-top: 0;
}
@media (min-width: 768px) {
  .nav-phone {
    display: none;
  }
}

.navegacion img {
  height: 60px;
}

.navegacion a,
.nav-phone a {
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}

.navegacion a:hover,
.nav-phone a:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-phone a {
  font-size: 20px;
}

.navegacion {
  display: none;
  font-size: 16px;
  background-color: transparent;
  position: relative;
}

@media (min-width: 768px) {
  .navegacion {
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }
}

@media (min-width: 1280px) {
  .navegacion {
    gap: 50px;
  }
}
.login {
  font-size: 18px;
  color: white;
  margin-bottom: 0;
  padding: 5px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  font-weight: 600;

  right: 0;
}
@media (min-width: 768px) {
  .login {
    position: absolute;
  }
}
.login:hover {
  background-color: rgb(255, 255, 255, 0.3);
  cursor: pointer;
}
.nav-back {
  background-color: #161616;
  position: relative;
}
.user {
  font-size: 18px;
  color: white;
  margin-bottom: 0;
  padding: 5px;
  border-radius: 3px;
  font-weight: 600;
  // position: absolute;
  right: 0;
}

.div-cont-user {
  // position: absolute;
  right: 0;
}
@media (min-width: 768px) {
  .user {
    text-align: end;
    max-width: 100px;
  }
}
@media (min-width: 996px) {
  .user {
    text-align: start;
    max-width: 100%;
  }
}
.div-cont-user.phone {
  left: 100%;
  top: 0;
}

.cont-user:hover > .user-menu div:hover {
  background-color: transparent; /* O ajusta el estilo según sea necesario */
}

.user-menu {
  background-color: #fff;
  position: absolute;
  color: #343a40;
  z-index: 2000;
  overflow: hidden;
  max-height: 0; /* Altura inicial cero */
  opacity: 0; /* Inicia invisible */
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Animación rápida */
  width: 100%; /* Ocupa el 100% del ancho en móvil */
  border-radius: 5px;
  top: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .user-menu {
    position: absolute;

    right: 0;
    width: 160px; /* En pantallas más grandes */
  }
}

.user-menu.show {
  max-height: 300px; /* Ajusta según el contenido */
  opacity: 1; /* Totalmente visible */
}

.elemento-menu-user {
  padding: 10px;
  font-weight: 600;
}

.user-menu div:hover {
  background-color: rgba(52, 58, 64, 0.2);
  cursor: pointer;
}

.div-cont-user.phone {
  position: relative; /* Asegura que el menú se posicione correctamente */
}

.logout {
  color: red;
}
.cont-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .login.phone,
  .cont-login,
  .user-menu.phone {
    display: none;
  }
  // .user {
  //   position: absolute;
  // }
}

.img-bag {
  width: 25px;
  transition: all 0.1s ease-in-out;
}
.img-bag:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.cont-pc {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 5px;
  right: 0;
}
.down {
  margin: 0;
  color: #fff;
  transition: all 0.2s ease-in-out;
  padding: 3px 7px;
  border-radius: 3px;
}
.down:hover {
  background-color: rgb(255, 255, 255, 0.2);
  cursor: pointer;
}
