.main-login-container {
  margin: 70px auto;
}
.main-login-container h2 {
  margin-bottom: 30px;
}
.subtitle {
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 400px;
}
.login-container {
  width: 350px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.invalid .form-control {
  border-color: red;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn-login:hover {
  background-color: #212529;
}
.question {
  text-align: center;
  margin-top: 10px;
}
.question span {
  color: #1a5ea2;
}
.question span:hover {
  text-decoration: underline;
  cursor: pointer;
}
h2 {
  font-size: 44px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 55px;
  }
}
