<main class="main">
  <div class="box">
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, velit hic. Tempore voluptatem quod blanditiis!
      Consequatur, repudiandae! Illum maiores obcaecati, quam numquam ea sapiente veniam possimus impedit dicta vitae
      unde.</p>
  </div>
  <div class="box">
    <h2>Idea 1</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, velit hic. Tempore voluptatem quod blanditiis!
      Consequatur, repudiandae! Illum maiores obcaecati, quam numquam ea sapiente veniam possimus impedit dicta vitae
      unde.</p>
  </div>
  <div class="box">
    <h2>Idea 2</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, velit hic. Tempore voluptatem quod blanditiis!
      Consequatur, repudiandae! Illum maiores obcaecati, quam numquam ea sapiente veniam possimus impedit dicta vitae
      unde.</p>
  </div>

  <div class="grid">
    <div class="box">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem saepe nulla ipsa culpa nemo non nesciunt vel
        facere sint minima placeat voluptatum velit consequatur laudantium, soluta ad perspiciatis veritatis deserunt!
      </p>
      <button>OPEN</button>
    </div>
    <div class="box">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem saepe nulla ipsa culpa nemo non nesciunt vel
        facere sint minima placeat voluptatum velit consequatur laudantium, soluta ad perspiciatis veritatis deserunt!
      </p>
      <button>OPEN</button>
    </div>
    <div class="box">
      <h3>Heading</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia nobis recusandae totam culpa rerum
        non adipisci commodi, ipsam, nihil ullam dolore dolores excepturi minus error! Minima aperiam debitis molestiae!
      </p>
      <button>OPEN</button>
    </div>
  </div>
</main>

<router-outlet />