.mb-10 {
  margin-bottom: 6rem;
}
.grid {
  display: grid;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 2fr 3fr;
    gap: 0;
  }
}
.contenido {
  padding: 50px;
}
//CARRUSEL
.hm-gradient {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
.darken-grey-text {
  color: #2e2e2e;
}
.carousel-item img {
  height: 600px; /* Ajusta esta altura según tus necesidades */
  object-fit: cover;
  object-position: center 80%;
}
@media (max-width: 768px) {
  .carousel-item img {
    height: 400px; /* Altura más pequeña para dispositivos móviles */
  }
}
h1 {
  font-size: 44px;
  margin-bottom: 20px;
  margin-top: 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

.button {
  // width: 100%;
  padding: 10px 20px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 18px;
}
.button:hover {
  background-color: #212529;
}

@media (min-width: 768px) {
  .button {
    font-size: 16px;
    margin-bottom: 0;
  }
}
.contenido {
  text-align: center;
}
