:root {
  --blanco: #fff;
  --negro: #111111;
  --gris: #343a40;

  --fuentePrincipal: "Raleway", "sans-serif";
}

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.2;
  margin: 1rem 0 4rem 0;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 3.4rem;
}

a {
  text-decoration: none;
}


.btn {
  color: #343a40;
  background-color: #fff;
  border: 1px solid #343a40;
  padding: 0.5rem 2rem;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #343a40;
  color: #fff;
}

/* Utilidades */

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}


.modelo {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 5rem;
  background-size: 800px;
}
.modelo:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .modelo {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contenido-modelo {
  padding: 5rem;
  background-color: #fff;
}



@media (min-width: 768px) {
  .basico {
    background-position: top right;
  }
  .basico .contenido-modelo {
    grid-row: 2/3;
    padding: 2rem 2rem 2rem 0;
  }
}

@media (min-width: 768px) {
  .premier {
    background-position: top left;
  }
  .premier .contenido-modelo {
    grid-column: 2/3;
    padding: 2rem 0 2rem 2rem;
  }
}



@media (min-width: 768px) {
  .elite {
    background-position: top right;
  }
  .elite .contenido-modelo {
    padding: 2rem 2rem 2rem 0;
  }
}


