<div class="orders container">
    <div class="header">
        <h1 class="encabezado">Órdenes por preparar</h1>
        <h2 class="subtitulo">Administra el estado de las órdenes</h2>
    </div>

    <div class="filter-bar">
        <select class="status-filter" (change)="updateStatus($event)" [disabled]="disableStatusFilter">
            <option value="">Todas las ordenes</option>
            <option value="queue">En fila</option>
            <option value="preparation">En preparación</option>
            <option value="ready">Listas</option>
        </select>

    </div>

    <div class="grid">
        <div class="box" *ngFor="let order of filteredOrders">
            <div class="enc">
                <h2>{{order.namee}}</h2>
                <p>{{order.user}}</p>
            </div>
            <div class="box-details">
                <p class="agregados">{{order.productos.length}} añadidos</p>
                <div class="productos">
                    <div class="producto" *ngFor="let producto of order.productos"
                        [class.no-status]="order.status==='completed'">
                        <input type="checkbox" [class.no-status]="order.status==='completed'" class="check">
                        <p><span class="vin">• </span> ({{producto.quantity}})</p>
                        <p class="nombre-producto">{{producto.namee}}<span class="precio">
                                (${{producto.subtotal}})</span></p>
                    </div>

                </div>
            </div>

            <div class="sta">
                <div class="order-status">
                    <div class="circle"
                        [class.selected]="order.status === 'queue' ||order.status === 'preparation' ||order.status === 'ready'"
                        [class.current-selected]="order.status === 'queue'" (click)="setStatus('queue', order)">
                    </div>
                    <div class="circle" [class.selected]="order.status === 'preparation' || order.status === 'ready'"
                        [class.current-selected]="order.status === 'preparation'"
                        (click)="setStatus('preparation', order)">
                    </div>
                    <div class="circle" [class.selected]="order.status === 'ready'"
                        [class.current-selected]="order.status === 'ready'" (click)="setStatus('ready', order)">
                        <p class="ready" [class.show]="order.status === 'ready'">✓</p>
                    </div>
                </div>
                <p class="status" *ngIf="order.status==='queue'">Orden en fila</p>
                <p class="status" *ngIf="order.status==='preparation'">Preparándose</p>
                <p class="status" *ngIf="order.status==='ready'" style="color: #4daf2d;">Listo</p>
            </div>
            <div>

                <button [class.no-status]="order.status==='completed'" [disabled]="order.status!== 'ready'"
                    [class.disabled]="order.status!== 'ready'" class="button add" (click)="completar(order)">Listo para
                    entregar</button>
                <button class="button cancel" (click)="deleteOrder(order.id)">Cancelar orden</button>
            </div>
            <div class="fecha">
                <p>{{order.hora}} - {{order.fecha}}</p>
            </div>
        </div>
    </div>

</div>