main {
  margin: 50px auto;
  width: 800px;
}

h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  text-decoration: underline;
}

h3 {
  text-align: center;
}

.encabezado {
  font-size: 38px;
  font-weight: bolder;
  text-align: center;
  margin-top: 3px;
  font-weight: 900;
}
.subtitulo {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: black;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .subtitulo {
    font-size: 18px;
  }
}

.menu {
  display: grid;
  margin-bottom: 50px;
}
// @media (min-width: 1280px) {
//   .menu {
//     grid-template-columns: 1fr 3fr;
//   }
// }

.button {
  all: unset;
  text-align: center;
  width: auto;
  padding: 6px 25px;
  border: none;
  border: 1px solid #343a40;
  color: #343a40;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 768px) {
  .button {
    font-size: 15px;
  }
}

.button:hover {
  color: white;
  background-color: #343a40;
  cursor: pointer;
}

.box {
  padding: 30px;
  margin-bottom: 10px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (min-width: 992px) {
  .box {
    padding: 30px 100px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
}

.box h1 {
  font-weight: 800;
  margin-top: 0;
  font-size: 20px;
}
@media (min-width: 768px) {
  .box h1 {
    font-size: 22px;
  }
}
.box p {
  margin-bottom: 0;
}

.imagen {
  width: 200px;
  height: 150px;
  // margin: 15px 0;
  object-fit: cover; /* Hace que la imagen se ajuste recortando el exceso */
  object-position: center; /* Centra la imagen dentro del contenedor */
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(52, 58, 64, 0.3);
}
@media (min-width: 992px) {
  .imagen {
    width: 200px;
    height: 100px;
  }
}
.precio {
  font-size: 20px;
  font-weight: 700;
  color: #343a40;
}
@media (min-width: 992px) {
  .precio {
    font-size: 22px;
  }
}
.grid {
  margin-top: 60px;
  display: grid;
  gap: 20px 40px;
}

@media (min-width: 768px) {
}
@media (min-width: 1280px) {
  .grid {
    margin: 60px 100px 0 100px;
    padding-right: 20px;
    gap: 10px;
    // grid-template-columns: repeat(3, 1fr);
  }
  .name-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.seleccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.mobile-seleccion {
  display: none; /* Oculto por defecto */
  text-align: center;
  position: relative;
}

.selected-category {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  color: #343a40;
  // background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border: 1px solid #343a40;
  position: relative;
  transition: background-color 0.2s;
}

.selected-category:hover {
  cursor: pointer;
  background-color: #343a40;
  color: white;
}
.toggle-menu {
  all: unset;
  padding: 0 4px;
  font-size: 16px;
  margin-left: 10px;
  color: #343a40;
}

.submenu-mobile {
  display: none; /* Oculto por defecto */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 1000;
  margin-top: 10px;
}

.submenu-mobile.show {
  display: block; /* Mostrar cuando tiene la clase "show" */
}

.submenu-mobile div {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
}

.submenu-mobile div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Menú original para pantallas grandes */
.seleccion {
  display: none; /* Ocultar el menú original en pantallas pequeñas */
  flex-wrap: wrap;
}

.mobile-seleccion {
  display: block; /* Mostrar menú móvil en pantallas pequeñas */
}
@media (min-width: 768px) {
  .mobile-seleccion {
    display: none; /* Ocultar en pantallas grandes */
  }

  .seleccion {
    display: flex; /* Mostrar el menú original en pantallas grandes */
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

// @media (max-width: 767px) {
// }

// @media (min-width: 1280px) {
//   .seleccion {
//     flex-direction: column;
//   }
// }

.opcion {
  position: relative; /* Necesario para el menú desplegable */
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, visibility 0s ease-in-out;
}

.image-modal.show {
  opacity: 1;
  visibility: visible;
}

.image-modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.expanded-image {
  max-width: 100%;
  max-height: 700px;
  object-fit: contain;
  border-radius: 10px;
}

.image-modal:hover {
  cursor: pointer;
}
//ELIMINAR

// .producto-top {
//   position: relative;
// }

.btns {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
}
.btn-delete {
  width: 28px;
  height: 28px;
  opacity: 45%;
  transition: all 0.2s ease-in;
}
.btn-edit {
  width: 25px;
  height: 25px;
  opacity: 45%;
  transition: all 0.2s ease-in;
}
@media (min-width: 768px) {
  .btn-delete {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 768px) {
  .btn-edit {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 768px) {
  .btns {
    gap: 15px;
    flex-direction: row;
  }
}

.btn-delete:hover {
  opacity: 90%;
  cursor: pointer;
}
.btn-edit:hover {
  opacity: 90%;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  background-color: white;
  color: #343a40;
  opacity: 75%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px; /* Espacio entre el encabezado y el botón */
}
@media (min-width: 768px) {
  .add-button {
    width: 40px;
    height: 40px;
    font-size: 50px;
  }
}
.add-button:hover {
  background-color: #9c9c9c;
  color: white;
}

.box .stock-status {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .box .stock-status {
    font-size: 16px;
  }
}

.stock-status.activo {
  color: green;
}

.stock-status.inactivo {
  color: red;
}

.stock-indicator {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Barra de filtros en pantallas grandes */
.filter-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px; /* Añadir espacio entre los filtros */
}

.search-bar,
.category-filter,
.stock-filter {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px; /* Añadir espacio entre los filtros */
}
@media (min-width: 768px) {
  .search-bar,
  .category-filter,
  .stock-filter {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 0;
  }
}
/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .filter-bar {
    flex-direction: column; /* Apilar los filtros verticalmente */
  }
}

@media (min-width: 1280px) {
  .name h1 {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .name {
    width: 200px;
    padding: 0 20px;
  }
}
.name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
@media (min-width: 768px) {
  .name {
    font-size: 18px;
  }
}
