<div>
  <div class="container mt-4">
    <h2 style="margin-top: 8rem;
  margin-bottom: 4rem;text-align: center;">¡Bienvenido!</h2>
    <div class="row">
      <!-- Primer Carrusel -->
      <div class="col-md-6">
        <div id="carousel-1" class="carousel slide carousel-fade mb-5" data-ride="carousel">
          <ol class="carousel-indicators">
            <li *ngFor="let img of carrusel1; let i = index" [attr.data-target]="'#carousel-1'" [attr.data-slide-to]="i"
              [class.active]="i === 0"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div *ngFor="let img of carrusel1; let i = index" class="carousel-item" [class.active]="i === 0">
              <img class="d-block w-100" [src]="img" [alt]="'Slide ' + (i + 1)">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <!-- Segundo Carrusel -->
      <div class="col-md-6">
        <div id="carousel-2" class="carousel slide carousel-fade mb-5" data-ride="carousel">
          <ol class="carousel-indicators">
            <li *ngFor="let img of carrusel2; let i = index" [attr.data-target]="'#carousel-2'" [attr.data-slide-to]="i"
              [class.active]="i === 0"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div *ngFor="let img of carrusel2; let i = index" class="carousel-item" [class.active]="i === 0">
              <img class="d-block w-100" [src]="img" [alt]="'Slide ' + (i + 1)">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>