h2 {
  margin-bottom: 25px;
}
p {
  margin-bottom: 10px;
}

.bg-open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.5s ease, z-index 0s 0.5s; /* Agrega una transición de z-index con un retraso */
  bottom: 0;
  z-index: -1; /* Siempre detrás inicialmente */
}

.bg-open.show-bg {
  z-index: 0;
  opacity: 50%;
  transition: opacity 0.5s ease, z-index 0s; /* Cambia z-index inmediatamente cuando el fondo está visible */
}
@media (min-width: 1280px) {
  .bg-open.show-bg {
    opacity: 0;
    z-index: -1;
  }
}

.sticky-box {
  position: fixed;
  top: auto; /* Deshabilitar la posición fija en la parte superior */
  right: 0; /* Mantener alineación a la derecha */
  bottom: 0; /* Alinear al fondo de la pantalla */
  width: 100%; /* Hacer que ocupe todo el ancho de la pantalla */

  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #92979c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.5s ease; /* Transición para el deslizamiento */
  transform: translateY(
    100%
  ); /* Desplazar completamente fuera de la pantalla en pantallas pequeñas */
}

.sticky-box.show {
  transform: translateY(
    0
  ); /* Desplazar a la posición original en pantallas grandes */
}

/* Media query para dispositivos más pequeños */
@media (min-width: 1280px) {
  .sticky-box {
    padding: 35px;
    top: 54px; /* Posición inicial en pantallas grandes */
    bottom: auto;
    right: 0; /* Alinear a la derecha */
    width: 330px; /* Ancho del menú */

    transform: translateX(
      100%
    ); /* Desplazar completamente fuera de la pantalla en pantallas grandes */
  }

  .sticky-box.show {
    transform: translateX(
      0
    ); /* Desplazar a la posición original en pantallas pequeñas */
  }
}

.productos {
  max-height: 475px;
  overflow-y: auto; /* Cambiar a auto para permitir el desplazamiento */
}

h2 {
  font-size: 30px;
  text-align: center;
}
.producto {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  // border: 1px solid #b2b9c0;
}
// .producto:last-child {
//   margin-bottom: 0;
// }
.btn-del {
  text-decoration: none;
  color: rgb(177, 15, 15);
  font-size: 25px;
  font-weight: 700;
  padding: 0;
  background-color: #343a40;
  display: block;
  inline-size: 0;
  border: 1px solid rgb(177, 15, 15);
  border-radius: 100%;
}
.btn-del:hover {
  cursor: pointer;
}

.pago {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.pago p span {
  font-weight: 700;
  font-size: 20px;
}

.button {
  all: unset;
  text-align: center;
  width: 100%;
  padding: 5px 0px;
  border: none;
  border: 1px solid #343a40;
  color: #343a40;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: white;
  background-color: #343a40;
  cursor: pointer;
}

.nombre {
  font-size: 20px;
  font-weight: 800;
}

.subtotal {
  font-weight: 800;
  margin: 0;
  color: #343a40;
}

.subtotal span {
  font-size: 18px;
  font-weight: 600;
}

.circle-button {
  width: 25px; /* Ajusta el tamaño según sea necesario */
  height: 25px; /* Ajusta el tamaño según sea necesario */
  border: none;
  border-radius: 50%;
  border: 2px solid rgb(177, 15, 15); /* Color de fondo del círculo */
  color: rgb(177, 15, 15);
  font-size: 12px; /* Tamaño de la 'X' */
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.circle-button:hover {
  background-color: rgb(231, 193, 193); /* Color de fondo al pasar el ratón */
}

.close-icon {
  margin: 0; /* Elimina el margen de los elementos en el interior */
}

.cantidad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  // width: 100px;
  border: 1px solid rgb(52, 58, 64, 0.5);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  padding: 0;
  align-items: center;
  text-align: center;
  width: 120px;
}

.inc,
.dec {
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.inc:hover,
.dec:hover {
  color: white;
  background-color: #343a40;
}

.precio {
  font-size: 20px;
  font-weight: 700;
  color: #343a40;
}

.relative-box {
  position: relative;
  display: flex; /* Usar flexbox para alinear el contenido */
  align-items: center; /* Centrar verticalmente los elementos dentro del contenedor */
  height: 100%;
}

.toggle-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 15px; /* Añade un margen para separar del título */
  position: absolute;

  background-color: #f8f9fa;
  border: 1px solid #92979c;
  left: 50%;
  top: -36px;
  // border-right: 1px solid #f8f9fa;
  padding: 10px 10px;
  font-weight: 700;
  color: #343a40;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) rotate(90deg);
}
@media (min-width: 1280px) {
  .toggle-button {
    left: -67px;
    top: 150px;
    transform: rotate(0deg);
  }
}
// @media (max-width: 768px) {
//   .sticky-box {
//     width: 100%; /* Ajusta el ancho para pantallas pequeñas */
//     padding: 20px; /* Reduce el padding */
//   }

//   .button {
//     font-size: 14px; /* Reduce el tamaño de la fuente */
//   }

//   .toggle-button {
//     font-size: 18px; /* Reduce el tamaño de la fuente del botón */
//   }
// }
