<div class="main-login-container">
    <h2>Registrarse</h2>
    <p class="subtitle">Llena estos datos sencillos para acceder a las opciones de la página.</p>
    <div class="login-container">
        <form (ngSubmit)="register()" [formGroup]="registerForm">
            <div class="form-group">
                <label for="namee">Nombre completo</label>
                <input type="text" id="namee" formControlName="namee" class="form-control"
                    placeholder="Ingresa tu nombre completo" required />

                <div *ngIf="registerForm.get('namee')?.touched && registerForm.get('namee')?.invalid"
                    class="error-message">
                    <p *ngIf="registerForm.get('namee')?.errors?.['required']">
                        El nombre es requerido.
                    </p>
                    <p *ngIf="registerForm.get('namee')?.errors?.['pattern']">
                        El nombre solo debe contener letras.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Teléfono</label>
                <input type="text" id="phone" formControlName="phone" class="form-control" maxlength="10"
                    inputmode="numeric" placeholder="Ingresa tu número de teléfono" required />
                <div *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid"
                    class="error-message">
                    <p *ngIf="registerForm.get('phone')?.errors?.['required']">
                        El teléfono es requerido.
                    </p>
                    <p *ngIf="registerForm.get('phone')?.errors?.['pattern']">
                        El teléfono debe tener 10 números.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" id="username" formControlName="username" class="form-control"
                    placeholder="Crea un usuario con el que ingresar" required />
                <div *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid"
                    class="error-message">
                    El usuario es requerido.
                </div>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" formControlName="password" class="form-control"
                    placeholder="Crea una contraseña" required />
                <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
                    class="error-message">
                    <small *ngIf="registerForm.get('password')?.errors?.['required']">
                        La contraseña es requerida
                    </small>
                    <small *ngIf="registerForm.get('password')?.errors?.['minlength']">
                        La contraseña debe tener al menos 10 caracteres.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label for="repassword">Confirmar contraseña</label>
                <input type="password" id="repassword" formControlName="repassword" class="form-control"
                    placeholder="Vuelve a escribir la contraseña" required />
                <div *ngIf="registerForm.get('repassword')?.touched && registerForm.get('repassword')?.invalid"
                    class="error-message">
                    Se necesita confirmar la contraseña
                </div>
            </div>

            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
            <app-spinner *ngIf="loading" />

            <button type="submit" class="btn-login">Registrarse</button>
        </form>
    </div>
    <p class="question">Ya tienes una cuenta? <span [routerLink]="['/login']"
            routerLinkActive="router-link-active">Inicia sesión aquí.</span></p>
</div>