<div class="header">
  <div class="head-back">
    <img src="../../../../../assets/back-button.png" alt="regresar" class="btn-back" (click)="goBack()">
    <h2 class="encabezado">Detalles</h2>
    <button class="dis"></button>
  </div>
</div>

<form [formGroup]="reservationForm" class="view-reservation-form">
  <div class="form-group">
    <label for="usuario">Nombre Del Usuario:</label>
    <input type="text" id="usuario" formControlName="usuario" class="form-control" [readOnly]="reservation?.usuario">
  </div>

  <div class=" form-group">
    <label for="namee">Nombre Del Cliente:</label>
    <input type="text" id="namee" formControlName="namee" class="form-control" [readOnly]="reservation?.namee">
  </div>

  <div class="form-group">
    <label for="telefono">Número Telefónico Del Cliente:</label>
    <input type="tel" id="telefono" formControlName="telefono" class="form-control" [readOnly]="reservation?.telefono">
  </div>

  <div class="form-group">
    <label for="cantidadMesasReservada">Mesas Reservadas:</label>
    <input type="text" readonly id="cantidadMesasReservada" formControlName="cantidadMesasReservada"
      class="form-control" [readOnly]="reservation?.cantidadMesasReservada">

  </div>

  <div class="form-group">
    <label for="cantidad">Mesas Para:</label>
    <input type="text" id="cantidad" formControlName="cantidad" class="form-control" [readOnly]="reservation?.cantidad">
  </div>

  <div class="form-group">
    <label for="ubicacion">Ubicación De La Mesa Reservada:</label>
    <input type="text" id="ubicacion" formControlName="ubicacion" class="form-control"
      [readOnly]="reservation?.ubicacion">
  </div>

  <div class="form-group" *ngIf="reservation?.costo !== ''">
    <label for="costo">Costo Por Mesa:</label>
    <input type="text" id="costo" formControlName="costo" class="form-control" [readOnly]="reservation?.costo ">
  </div>

  <div class="form-group" *ngIf="reservation?.costo === ''">
    <label for="costo">Costo Por Mesa:</label>
    <input type="text" id="costo" class="form-control" [value]="message" readonly>
  </div>

  <div class="form-group">
    <label for="tipo_decoracion">Tipo De Decoración Solicitada:</label>
    <input type="text" id="tipo_decoracion" class="form-control" formControlName="tipo_decoracion"
      [readOnly]="reservation?.tipo_decoracion">
  </div>

  <div class="form-group">
    <label for="fecha">Fecha De La Reservación:</label>
    <input type="text" id="fecha" class="form-control" formControlName="fecha" [readOnly]="reservation?.fecha">
  </div>

  <div class="form-group">
    <label for="hora">Hora De La Reservación:</label>
    <input type="text" id="hora" class="form-control" formControlName="hora" [readOnly]="reservation?.hora">
  </div>

  <div class="form-group" *ngIf="reservation?.total !== ''">
    <label for="total">Total Pagado Por La Reservación:</label>
    <input type="text" id="total" class="form-control" formControlName="total" [readOnly]="reservation?.total">
  </div>


  <div class="form-group" *ngIf="reservation?.total !==''">
    <label for="numero_cuenta">Pago Realizado A {{reservation?.tipo_banco}}, Al Número De Cuenta: </label>
    <!-- <input type="text" id="tipo_banco" class="form-control" formControlName="tipo_banco" [readOnly]="reservation?.tipo_banco"> -->
    <input type="text" id="numero_cuenta" class="form-control" formControlName="numero_cuenta"
      [readOnly]="reservation?.numero_cuenta">
  </div>

  <!-- <div class="form-group" *ngIf="reservation?.total !== ''">
      <label for="image">Comprobante De Pago:</label>
      <div class="cont-imagen">
        <img [src]="reservation?.image" [alt]="reservation?.id"
        class="imagen" (click)="openImage(reservation?.image)" />
      </div>
  </div> -->

  <div class="form-group" *ngIf="reservation?.total !==''">
    <label for="image">Comprobante De Pago:</label>
    <div class="cont-imagen">
      <img [src]="reservation?.image" [alt]="reservation?.image" style="max-width: 100%; margin-top: 10px;">
    </div>
  </div>


  <!-- Modal para la imagen expandida -->
  <!-- <div class="image-modal" [ngClass]="{ 'show': expandedImage !== null }" (click)="closeImage()">
    <div class="image-modal-content" (click)="$event.stopPropagation()">
      <img
        [src]="expandedImage"
        alt="Expanded"
        class="expanded-image"
        [ngClass]="{ 'zoomed': isZoomedIn }"
        [style.transform]="'scale(' + zoomLevel + ') translate(' + translateX + 'px, ' + translateY + 'px)'"
        (click)="toggleZoom()"
        (mousedown)="startDrag($event)"
        (mousemove)="onDrag($event)"
        (mouseup)="stopDrag()"
        (touchstart)="startTouch($event)"
        (touchmove)="onTouchMove($event)"
        (touchend)="stopTouch()"
      />
    </div>
  </div> -->





</form>