<div class="bg-menu">
    <div class="menu container">
        <div class="header">
            <h1 class="encabezado">Administrar Menú</h1>
            <button class="add-button" [routerLink]="['add']">+</button>
        </div>
        <h2 class="subtitulo">Edita o agrega elementos al menú</h2>

        <!-- Menú de selección en móvil -->
        <div class="mobile-seleccion">
            <div class="selected-category" (click)="toggleMenu()">
                {{ selectedCategory }}
                <p class="toggle-menu">▼</p>
            </div>
            <div class="submenu-mobile" [class.show]="isMenuOpen">
                <div (click)="selectCategory('TODOS')">TODOS</div>
                <div (click)="selectCategory('COMIDA')">COMIDA</div>
                <div (click)="selectCategory('BEBIDAS')">BEBIDAS</div>
                <div (click)="selectCategory('POSTRES')">POSTRES</div>
                <div (click)="selectCategory('ESPECIALES')">ESPECIALES</div>
            </div>
        </div>

        <!-- Menú de selección en pantallas grandes -->
        <div class="seleccion">
            <div class="opcion button" (click)="selectCategory('TODOS')">TODOS</div>
            <div class="opcion button" (click)="selectCategory('COMIDA')">COMIDA</div>
            <div class="opcion button" (click)="selectCategory('BEBIDAS')">BEBIDAS</div>
            <div class="opcion button" (click)="selectCategory('POSTRES')">POSTRES</div>
            <div class="opcion button" (click)="selectCategory('ESPECIALES')">ESPECIALES</div>
        </div>

        <!-- Productos filtrados -->
        <div class="grid">
            <div class="box" *ngFor="let product of filteredProducts">
                <!-- <div class="producto-top"> -->
                <h1>{{ product.namee }}</h1>
                <img src="./../../../assets/basura.png" alt="basura" class="btn-delete"
                    (click)="deleteProducto(product.id)">
                <!-- </div> -->
                <img [src]="product.image" [alt]="product.namee" class="imagen" (click)="openImage(product.image)" />
                <p class="precio">{{ product.precio | currency }}</p>
                <button class="button add" [routerLink]="['edit', product.id]">EDITAR</button>
            </div>
        </div>

        <!-- Modal para la imagen expandida -->
        <div class="image-modal" [ngClass]="{ 'show': expandedImage !== null }" (click)="closeImage()">
            <div class="image-modal-content">
                <img [src]="expandedImage" alt="Expanded" class="expanded-image" />
            </div>
        </div>


        <!-- <app-orden /> -->

    </div>
</div>