<div class="bg-menu">
    <div class="menu container">
        <div class="header">
            <h1 class="encabezado">Administrar Menú</h1>
            <button class="add-button" [routerLink]="['add']">+</button>
        </div>
        <h2 class="subtitulo">Edita o agrega elementos al menú</h2>

        <div class="filter-bar">
            <input type="text" placeholder="Buscar producto" class="search-bar" (input)="updateSearch($event)">
            <select class="category-filter" (change)="updateCategory($event)">
                <option value="TODOS">Todas las categorías</option>
                <option value="COMIDA">Comida</option>
                <option value="BEBIDAS">Bebidas</option>
                <option value="POSTRES">Postres</option>
                <option value="ESPECIALES">Especiales</option>
            </select>
            <select class="stock-filter" (change)="updateStock($event)">
                <option value="">Todos</option>
                <option value="activo">En stock</option>
                <option value="inactivo">Sin stock</option>
            </select>
        </div>

        <!-- Productos filtrados -->
        <div class="grid">
            <div class="box" *ngFor="let product of filteredProducts">
                <!-- Nombre del producto -->
                <div class="name-img">
                    <div class="name">
                        <h1>{{ product.namee }}</h1>
                    </div>
                    <div>

                        <img [src]="product.image" [alt]="product.namee" class="imagen"
                            (click)="openImage(product.image)" />
                    </div>
                </div>

                <!-- Botón para eliminar el producto -->
                <img src="./../../../assets/basura.png" alt="basura" class="btn-delete"
                    (click)="deleteProducto(product.id, product.image)">

                <!-- Imagen del producto -->

                <!-- Precio del producto -->
                <p class="precio">{{ product.precio | currency }}</p>

                <!-- Indicador de estado del producto -->
                <div class="stock-status" [ngClass]="product.stock ? 'activo' : 'inactivo'">
                    <span *ngIf="product.stock" class="stock-indicator">🟢 Activo</span>
                    <span *ngIf="!product.stock" class="stock-indicator">🔴 Inactivo</span>
                </div>

                <!-- Botón para editar el producto -->
                <button class="button add" [routerLink]="['edit', product.id]">EDITAR</button>
            </div>
        </div>


        <!-- Modal para la imagen expandida -->
        <div class="image-modal" [ngClass]="{ 'show': expandedImage !== null }" (click)="closeImage()">
            <div class="image-modal-content">
                <img [src]="expandedImage" alt="Expanded" class="expanded-image" />
            </div>
        </div>


        <!-- <app-orden /> -->

    </div>
</div>