<div class="bg-menu">
  <div class="container">
    <div class="header">
      <h1 class="encabezado">Comentarios</h1>
    </div>
    <h2 class="subtitulo">Gestiona y responde a los comentarios de los clientes</h2>

    <div class="rating-filter">
      <button 
        class="filter-btn"
        [class.active]="calificacionSeleccionada === null"
        (click)="filtrarPorCalificacion(null)">
        Todos los comentarios
      </button>
    
      <button 
        *ngFor="let rating of [5, 4, 3, 2, 1]"
        class="filter-btn"
        [class.active]="calificacionSeleccionada === rating"
        (click)="filtrarPorCalificacion(rating)">
        {{ '★'.repeat(rating) }}
      </button>
    </div>

    <div class="grid">
      <div class="box" *ngFor="let comentario of comentariosFiltrados">
        <h1 class="name">
          {{ comentario.comentario.namee }}
          <span *ngIf="comentario.comentario.id.toString() === adminAuthService.getId()" class="admin-label">
            Admin
          </span>
        </h1>

        <p class="usuario">
          {{ comentario.comentario.id.toString() === adminAuthService.getId() ? 'Admin' : comentario.comentario.usuario }}
        </p>

        <div class="fecha-hora d-flex justify-content-between">
          <p class="fecha">
            {{ comentario.comentario.id.toString() === adminAuthService.getId() ? 'Fecha Admin' : comentario.comentario.fecha }}
          </p>
          <p class="hora">
            {{ comentario.comentario.id.toString() === adminAuthService.getId() ? 'Hora Admin' : comentario.comentario.hora }}
          </p>
        </div>

        <p class="description">{{ comentario.comentario.description }}</p>

        <div class="clasificacion">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <input 
              id="radio{{ star }}-{{ comentario.comentario.id }}" 
              type="radio"
              name="calification-{{ comentario.comentario.id }}" 
              value="{{ star }}" 
              [checked]="comentario.comentario.calification >= star.toString()" 
              disabled />
            <label for="radio{{ star }}-{{ comentario.comentario.id }}">★</label>
          </ng-container>
        </div>

        <div *ngFor="let respuesta of comentario.respuestas">
          <div class="respuesta">
            <div class="respuesta-header d-flex align-items-center">
              <!-- Nombre de la respuesta y las imágenes dentro de un contenedor flex -->
              <h4>{{ respuesta.namee }}</h4>
              <div class="btns ml-auto">
                <img src="./../../../assets/delete-button.svg" alt="basura" class="btn-delete"
                     (click)="eliminarRespuesta(respuesta.id)">
              </div>
            </div>
            <p>{{ respuesta.description }}</p>

            <!-- Fecha y hora de la respuesta -->
            <div class="fecha-hora d-flex justify-content-between">
              <p class="fecha">{{ respuesta.fecha }}</p>
              <p class="hora">{{ respuesta.hora }}</p>
            </div>
          </div>
        </div>


        <!-- Botón para responder comentario y eliminar comentario -->
        <div class="feedback-section">
          <button 
            (click)="responderComentario(comentario.comentario.id)" 
            class="btn">
            {{ activeReplyId === comentario.comentario.id ? 'Cancelar Respuesta' : 'Responder Comentario' }}
          </button>

          <!-- Botón de Eliminar Comentario solo visible para el admin -->
          <button 
            (click)="eliminarComentario(comentario.comentario.id)" 
            class="btn delete-btn">
            Eliminar Comentario
          </button>
        </div>

        <!-- Formulario de respuesta inline -->
        <div *ngIf="activeReplyId === comentario.comentario.id" class="reply-container">
          <app-add-reply 
            [parentId]="comentario.comentario.id"
            [description]="description"
            (replySubmitted)="onReplySubmitted()">
            
          </app-add-reply>
        </div>

      </div>               
    </div>
  </div>
</div>
