main {
  margin: 50px auto;
  width: 800px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  text-decoration: underline;
}

h3 {
  text-align: center;
}

.encabezado {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-top: 3px;
  font-weight: 900;
}
.subtitulo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: black;
  margin-bottom: 50px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 30px 100px;
  margin: 0 auto 10px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  position: relative;
}
@media (min-width: 992px) {
  .box {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
  }
}
@media (min-width: 1280px) {
  .box {
    width: 80%;
  }
}

.box h1 {
  font-weight: 800;
  font-size: 30px;
  margin-top: 0;
}
@media (min-width: 992px) {
  .box h1 {
    font-size: 25px;
  }
}
.grid {
  margin-top: 60px;
  display: grid;
  gap: 20px 40px;
}

@media (min-width: 1280px) {
  .grid {
    gap: 10px;
    // grid-template-columns: repeat(3, 1fr);
  }
}

.rol {
  margin-bottom: 5px;
  font-weight: 600;
  color: #343a40;
}
@media (min-width: 992px) {
  .rol {
    margin-bottom: 0;
  }
}
.user {
  margin-bottom: 0;
  font-size: 18px;
}
.phone {
  margin-bottom: 0;
  font-weight: 600;
  color: #343a40;
  font-size: 18px;
}
