.footer-section {
  background: #151414;
  position: relative;
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  text-align: center;
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}

/* Estilos base */
.footer-section {
  background: #151414;
  position: relative;
  text-align: center;
}

/* Estilos responsivos */
