<main class="main"></main>


<div class="contenedor mt-5 nosotros container">
    <div class="contenido-nosotros">
        <h2>Sobre Nosotros</h2>

        <p>Cafetería El Abuelo nace como un proyecto personal con el objetivo de ofrecer una experiencia única en el municipio de Dzitbalché. 
            El establecimiento surgió de la necesidad de crear un espacio donde personas de todas las edades pudieran disfrutar de un ambiente atractivo, agradable y acogedor. 
            Desde sus inicios, la cafetería se ha distinguido no solo por su diseño moderno y cálido, sino también por la calidad de sus exquisitos platillos y bebidas.</p>
        <p>Cada detalle ha sido cuidadosamente seleccionado para brindar una experiencia placentera a todos sus visitantes, convirtiendo a Cafetería El Abuelo en un punto de encuentro ideal para la comunidad. 
            El objetivo es que todos los que visiten el lugar puedan disfrutar de momentos agradables en un entorno acogedor, donde la calidad y el servicio se destacan.</p>
    </div>
</div>

<div class="contenedor mt-5 historia container">
    <div class="contenido-historia">
        <h2>Historia del lugar</h2>

        <p>Cafetería El Abuelo abrió sus puertas en 2018 como una propuesta innovadora en Dzitbalché, siendo la primera cafetería de la ciudad. Desde su inauguración, se convirtió en un lugar acogedor donde las personas se reunían 
            para disfrutar de su cálido ambiente, el aroma a café recién preparado y una atención excepcional. La cafetería no solo ofrecía un espacio agradable, 
            sino también un punto de encuentro para la comunidad</p>
        <p>En 2020, debido a circunstancias imprevistas, el local tuvo que cerrar temporalmente, dejando un vacío en la vida cotidiana de sus fieles clientes. Sin embargo, en 2021, Cafetería El Abuelo regresó con más fuerza, renovada y con nuevas propuestas en su menú. Hoy, sigue siendo un lugar 
            emblemático, consolidándose como el sitio ideal para disfrutar de momentos especiales, 
            donde la calidad de sus platillos y el excelente servicio son el sello distintivo.</p>
    </div>
</div>