
<main class="main"></main>


<div class="body">
    <h1 class="title">CAFETERÍA "EL ABUELO"</h1>
    <h2 class="information">
        <p>Un rincón de buena música, relajación,</p> 
        <p>cordial ambiente y de buena comida.</p> 
    </h2>
    
</div>

<div class=box>
    <h3>
        <img src="assets\imagenes-carlos\icon.png" class="nav-icon" alt="direccion">
 
    </h3>
</div>

<div class=box1>
    <h4>CALLE 18 # 29 24920 DZITBALCHÉ, MÉXICO</h4>
</div>


<div class=box2>
    <h3>
        <img src="assets\imagenes-carlos\icon2.png" class="nav-icon2" alt="direccion2">
 
    </h3>
</div>

<div class=box3>
    <h4>996 105 9860</h4>
</div>


<div><img src="assets\imagenes-carlos\cafe.png" class="nav-cafe" alt="cafe"></div>
