<main class="main"></main>


<section class="contenedor mt-5 nosotros container">
    <div class="contenido-nosotros">
        <h2>Sobre Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum odio vel dolor voluptates, asperiores quod
            laudantium repellendus? Repudiandae exercitationem ex magni! Veritatis consectetur cupiditate,
            voluptatem quae repellat perspiciatis assumenda explicabo.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis a eaque inventore pariatur. Eveniet,
            voluptate, in vel accusantium cum aperiam rem, ut reiciendis dicta sequi magni incidunt expedita nulla
            ipsam.</p>
    </div>
</section>


