// lkjlkjlk
.nosotros {
  display: grid;
  color: black;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(../../../assets/457402195_1033340645149779_1729530164898725567_n.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 800px;
}

@media (min-width: 992px) {
  .nosotros {
    background-size: 950px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.contenido-nosotros {
  background-color: white;
  padding: 5rem 5rem 0 5rem;
}

@media (min-width: 768px) {
  .contenido-nosotros {
    padding-bottom: 5rem;
  }
}

@media (min-width: 992px) {
  .contenido-nosotros {
    grid-column: 2/4;
  }
}

h2,
p {
  margin-bottom: 1rem;
}

.historia {
  display: grid;
  color: black;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(../../../assets/menu.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 800px;
}

@media (min-width: 992px) {
  .historia {
    background-size: 950px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.contenido-historia {
  background-color: white;
  padding: 5rem 5rem 0 5rem;
}

@media (min-width: 768px) {
  .contenido-historia {
    padding-bottom: 5rem;
  }
}

@media (min-width: 992px) {
  .contenido-historia {
    grid-column: 1/3;
  }
}
