<div class="header">
    <div class="container contenido-header">
        <div class="barra">
            <div class="abuelo">
                <img src="../../../assets/ela.png" alt="logo" class="logo">
                <h1 class="slogan">Panel de administrador</h1>
                <!-- <div class="cont-nombre">
                    <h1 class="nombre-sitio">El<span>Abuelo</span></h1>
                </div> -->
            </div>

            <div class="usuario">
                Usuario
            </div>
        </div>

    </div>
</div>