<div class="header">
    <div class="container contenido-header">
        <div class="barra" [class.d-flex]="currentUser">
            <div class="abuelo">
                <img src="../../../assets/ela.png" alt="logo" class="logo">
                <h1 class="slogan">Panel de administrador</h1>
                <!-- <div class="cont-nombre">
                    <h1 class="nombre-sitio">El<span>Abuelo</span></h1>
                </div> -->
            </div>
            <div class="div-cont-user" *ngIf="currentUser">
                <div class="cont-user" (click)="toggleUserMenu()">
                    <div>
                        <div class="usuario">
                            ¡Bienvenido(a) {{ currentUser }}!
                        </div>
                        <p class="current-rol">{{currentRol}}</p>
                    </div>
                    <p class="current-rol">▼</p>
                </div>
                <div class="user-menu box" [class.show]=" isUserMenuOpen">
                    <div (click)="onEdit()" class="elemento-menu-user" *ngIf="rol === 'ADMINISTRADOR'">
                        Editar perfil
                    </div>
                    <div (click)="onLogout()" class="elemento-menu-user logout">
                        Cerrar sesión
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="box" *ngIf="currentUser &&  (rol === 'DUEÑO' || rol === 'ADMINISTRADOR')">
    <div class="container navbar">
        <div class="elemento-nav" [routerLink]="['/admin']" (click)="selectCategory('Inicio')">
            Inicio
        </div>
        <div class="elemento-nav" [routerLink]="['/admin/menu']" (click)="selectCategory('Administrar Menú')">
            Menú
        </div>
        <div class="elemento-nav" [routerLink]="['/admin/ordenes']" (click)="selectCategory('Órdenes')">
            Órdenes
        </div>
        <!-- <div class="elemento-nav" [routerLink]="['/admin/reservaciones']" (click)="selectCategory('Reservaciones')">
            Reservaciones
        </div> -->
        <div class="elemento-nav" [routerLink]="['/admin/roles']" (click)="selectCategory('Roles de Usuarios')">
            Usuarios
        </div>
    </div>
    <div class="mobile-seleccion">
        <div class="elemento-nav" (click)="toggleMenu()">
            {{ selectedCategory }}
            <p class="toggle-menu">▼</p>
        </div>
        <div class="submenu-mobile box" [class.show]=" isMenuOpen">
            <div [routerLink]="['/admin']" (click)="selectCategory('Inicio')">Inicio</div>
            <div [routerLink]="['/admin/menu']" (click)="selectCategory('Administrar Menú')">Administrar Menú</div>
            <div [routerLink]="['/admin/ordenes']" (click)="selectCategory('Órdenes')">Órdenes</div>
            <div [routerLink]="['/admin/reservaciones']" (click)="selectCategory('Reservaciones')">Reservaciones</div>
            <div [routerLink]="['/admin/roles']" (click)="selectCategory('Roles de Usuarios')">Roles de Usuario</div>
        </div>
    </div>
</div>