h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.2;
  margin: 0rem 0 1rem 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #202020;
  padding: 2rem 0;
}
@media (min-width: 1280px) {
  .header {
    padding: 0.7rem;
  }
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--blanco);
}

.nombre-sitio {
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 40px;
}

@media (min-width: 768px) {
  .nombre-sitio {
    font-size: 50px;
    margin-bottom: 0;
  }
}

.nombre-sitio span {
  font-weight: 900;
}
.barra {
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .barra {
    flex-direction: row;
    // display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header a {
  color: var(--blanco);
  font-size: 2rem;
}

.slogan {
  text-align: center;
  color: white;
}
@media (min-width: 768px) {
  .slogan {
    text-align: right;
  }
}
.slogan h1 {
  font-size: 30px;
  margin: 0;
}
@media (min-width: 768px) {
  .slogan h1 {
    font-size: 2rem;
  }
  .slogan {
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .slogan h1 {
    font-size: 2rem;
  }
  .slogan p {
    font-size: 18px;
  }
  .slogan {
    text-align: center;
    margin-bottom: 0;
  }
}

.slogan p {
  margin: 0;
  line-height: 1;
}

.usuario {
  text-align: center;
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .usuario {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.logo {
  max-height: 4rem;
  margin-bottom: 10px;
}

.abuelo {
  flex-direction: column;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .abuelo {
    flex-direction: column;
  }
}

/////
.box {
  border: 1px solid rgb(52, 58, 64, 0.3);

  margin-bottom: 10px;
  background-color: rgb(250, 250, 250);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .box h1 {
    font-size: 25px;
  }
}

//Navbar
.navbar {
  padding: 0;
  justify-content: space-around;
  color: #4b4b4b;
  display: none; /* Ocultar en pantallas grandes */
}
@media (min-width: 768px) {
  .navbar {
    display: flex; /* Ocultar en pantallas grandes */
  }
}
.elemento-nav {
  font-size: 18px;
  font-weight: 600;
  color: inherit;
  padding: 12px 10px;
  transition: all 0.15s ease-in-out;
  color: #4b4b4b;
}
.elemento-nav:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.logout {
  color: white;
  margin-bottom: 0;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.logout:hover {
  background-color: rgb(255, 255, 255, 0.2);
}
//mobile Menu nav
.mobile-seleccion {
  // display: none; /* Oculto por defecto */
  text-align: center;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .mobile-seleccion {
    display: none; /* Ocultar en pantallas grandes */
  }
}
.selected-category {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  color: #343a40;
  // background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  // border: 1px solid #343a40;
  position: relative;
  transition: background-color 0.2s;
}

.selected-category:hover {
  cursor: pointer;
  background-color: #343a40;
  color: white;
}
.toggle-menu {
  all: unset;
  padding: 0 4px;
  font-size: 16px;
  margin-left: 10px;
  color: #343a40;
}

.submenu-mobile {
  display: block; /* Mostrar bloque, pero ajustar la visibilidad con la transición */
  position: absolute;
  background-color: #fff;
  color: #343a40;
  width: 100%;
  z-index: 1000;
  max-height: 0; /* Altura inicial cero */
  overflow: hidden; /* Ocultar contenido mientras está colapsado */
  opacity: 0; /* Inicia invisible */
  transition: max-height 1s ease, opacity 0.5s ease; /* Animación de altura y opacidad */
}

.submenu-mobile.show {
  max-height: 500px; /* Ajustar según el contenido, o poner un valor alto */
  opacity: 1; /* Totalmente visible */
}

.submenu-mobile div {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
  font-weight: 600;
  color: #343a40;
}

.submenu-mobile div:hover {
  background-color: rgba(102, 102, 102, 0.2);
}

.submenu-mobile.opcion {
  color: rebeccapurple;
}
