main {
  margin: 50px auto;
  width: 800px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  text-decoration: underline;
}

h3 {
  text-align: center;
}

.encabezado {
  font-size: 55px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 3px;
  font-weight: 900;
}
.subtitulo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: black;
  margin-bottom: 50px;
}

.menu {
  display: grid;
  margin-bottom: 50px;
}
// @media (min-width: 1280px) {
//   .menu {
//     grid-template-columns: 1fr 3fr;
//   }
// }

.button {
  // width: 100%;
  padding: 10px 20px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 18px;
}
.button:hover {
  background-color: #212529;
}

@media (min-width: 768px) {
  .button {
    font-size: 16px;
    margin-bottom: 0;
  }
}
.btn-nav {
  // width: 100%;
  padding: 10px 20px;
  border: 1px solid #343a40;
  color: #343a40;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 18px;
}
.btn-nav:hover {
  background-color: #343a40;
  color: #fff;
}

@media (min-width: 768px) {
  .btn-nav {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.box {
  border: 1px solid rgb(52, 58, 64, 0.5);
  padding: 30px;
  margin-bottom: 10px;
  background-color: rgb(250, 250, 250);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box h1 {
  font-weight: 800;
  font-size: 30px;
}
@media (min-width: 768px) {
  .box h1 {
    font-size: 25px;
  }
}

.imagen {
  width: 90%;
  height: 300px;
  margin: 15px 0;
  object-fit: cover; /* Hace que la imagen se ajuste recortando el exceso */
  object-position: center; /* Centra la imagen dentro del contenedor */
  cursor: pointer;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .imagen {
    width: 230px;
    height: 180px;
  }
}
.precio {
  font-size: 30px;
  font-weight: 700;
  color: #343a40;
}
@media (min-width: 768px) {
  .precio {
    font-size: 25px;
  }
}
.grid {
  margin-top: 60px;
  display: grid;
  gap: 20px 40px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .grid {
    margin: 60px 100px 0 100px;
    padding-right: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.seleccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.mobile-seleccion {
  display: none; /* Oculto por defecto */
  text-align: center;
  position: relative;
}

.selected-category {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  color: #343a40;
  // background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border: 1px solid #343a40;
  position: relative;
  transition: background-color 0.2s;
}

.selected-category:hover {
  cursor: pointer;
  background-color: #343a40;
  color: white;
}
.toggle-menu {
  all: unset;
  padding: 0 4px;
  font-size: 16px;
  margin-left: 10px;
  color: #343a40;
}

.submenu-mobile {
  display: none; /* Oculto por defecto */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 1000;
  margin-top: 10px;
}

.submenu-mobile.show {
  display: block; /* Mostrar cuando tiene la clase "show" */
}

.submenu-mobile div {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
}

.submenu-mobile div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Menú original para pantallas grandes */
.seleccion {
  display: none; /* Ocultar el menú original en pantallas pequeñas */
  flex-wrap: wrap;
}

.mobile-seleccion {
  display: block; /* Mostrar menú móvil en pantallas pequeñas */
}
@media (min-width: 768px) {
  .mobile-seleccion {
    display: none; /* Ocultar en pantallas grandes */
  }

  .seleccion {
    display: flex; /* Mostrar el menú original en pantallas grandes */
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

// @media (max-width: 767px) {
// }

// @media (min-width: 1280px) {
//   .seleccion {
//     flex-direction: column;
//   }
// }

.opcion {
  position: relative; /* Necesario para el menú desplegable */
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, visibility 0s ease-in-out;
}

.image-modal.show {
  opacity: 1;
  visibility: visible;
}

.image-modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.expanded-image {
  max-width: 100%;
  max-height: 700px;
  object-fit: contain;
  border-radius: 10px;
}

.image-modal:hover {
  cursor: pointer;
}

.sin-stock {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .sin-stock {
    font-size: 18px;
  }
}
