.orders {
  margin-bottom: 50px;
}

.encabezado {
  font-size: 38px;
  font-weight: bolder;
  text-align: center;
  margin-top: 3px;
  font-weight: 900;
  margin-bottom: 0;
}

.subtitulo {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #343a40;
  margin-bottom: 50px;
  margin-top: 1.6rem;
}
@media (min-width: 768px) {
  .subtitulo {
    font-size: 18px;
  }
}

.ventas {
  margin-top: 50px;
}

.tabla {
  width: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  .tabla {
    font-size: 16px;
  }
}
.tabla thead {
  background-color: #343a40;
  color: white;
}
.tabla tr,
.tabla th {
  border: 1px solid #343a40;
  text-align: center;
}
p {
  font-size: 14px;
}
@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}
//BOTÓN REGRESAR
.head-back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.btn-back {
  width: 30px;
  height: 30px;
  opacity: 85%;
  transition: all 0.1s ease;
}
@media (min-width: 768px) {
  .btn-back {
    width: 35px;
    height: 35px;
  }
}
.btn-back:hover {
  background-color: #b9bfc0;
  border-radius: 50%;
  cursor: pointer;
}
