<div class="container">
    <div class="header">
        <h1 class="encabezado">Administrar Órdenes</h1>
        <h2 class="subtitulo">Edita o agrega elementos al menú</h2>
    </div>

    <div class="filter-bar">
        <select class="status-filter" (change)="updateStatus($event)" [disabled]="disableStatusFilter">
            <option value="">Todas las ordenes activas</option>
            <option value="queue">En fila</option>
            <option value="preparation">En preparación</option>
            <option value="ready">Listas</option>
        </select>

        <select class="completed-filter" (change)="updateComplete($event)">
            <option value="active">Activas</option>
            <option value="completed">Completadas</option>
            <option value="">Todas</option>
        </select>
    </div>

    <div class="grid">
        <div [class.no-status]="order.status==='completed'" class="box" *ngFor="let order of filteredOrders">
            <div class="enc">
                <h2>{{order.namee}}</h2>
            </div>
            <div class="box-details">
                <p class="button" [class.active]="order.isDetailsOpen" (click)="toggleDetails(order)">DETALLES
                    ▼</p>
                <div class="productos" [class.show]="order.isDetailsOpen">
                    <div class="producto" *ngFor="let producto of order.productos">
                        <p><span class="vin">• </span> ({{producto.quantity}})</p>
                        <p class="nombre-producto">{{producto.namee}}<span class="precio">
                                (${{producto.subtotal}})</span></p>
                    </div>
                </div>
            </div>
            <div class="div-total">
                <p class="total">Total a pagar: <span>${{order.total}}</span></p>
                <div class="fecha">
                    <p>{{order.fecha}}</p>
                    <p>{{order.hora}}</p>
                </div>
            </div>
            <div>
                <div [class.no-status]="order.status==='completed'" class="order-status">
                    <div class="circle"
                        [class.selected]="order.status === 'queue' ||order.status === 'preparation' ||order.status === 'ready'"
                        [class.current-selected]="order.status === 'queue'" (click)="setStatus('queue', order)">
                    </div>
                    <div class="circle" [class.selected]="order.status === 'preparation' || order.status === 'ready'"
                        [class.current-selected]="order.status === 'preparation'"
                        (click)="setStatus('preparation', order)">
                    </div>
                    <div class="circle" [class.selected]="order.status === 'ready'"
                        [class.current-selected]="order.status === 'ready'" (click)="setStatus('ready', order)">
                        <p class="ready" [class.show]="order.status === 'ready'">✓</p>
                    </div>
                </div>
                <p class="status" *ngIf="order.status==='queue'">Orden en fila</p>
                <p class="status" *ngIf="order.status==='preparation'">Preparándose</p>
                <p class="status" *ngIf="order.status==='ready'" style="color: #4daf2d;">Listo</p>
            </div>
            <button [class.no-status]="order.status==='completed'" [disabled]="order.status!== 'ready'"
                [class.disabled]="order.status!== 'ready'" class="button add"
                (click)="completar(order)">COMPLETAR</button>
        </div>
    </div>

</div>