.encabezado {
  //   font-size: 40px;
  font-size: 55px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 3px;
  font-weight: 900;
  margin-bottom: 20px;
}

.subtitulo {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.subtitulo-encabezado {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #343a40;
  margin-bottom: 50px;
  margin-top: 2.5rem;
}
.enc {
  width: 100%;
  border-bottom: 1px solid rgb(52, 58, 64, 0.2);
}
@media (min-width: 992px) {
  .subtitulo {
    font-size: 22px;
  }
}
.button {
  all: unset;
  text-align: center;
  width: auto;
  padding: 6px 25px;
  border: none;
  border: 1px solid #343a40;
  color: #343a40;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 768px) {
  .button {
    font-size: 15px;
  }
}

.button:hover {
  color: white;
  background-color: #343a40;
  cursor: pointer;
}

.box {
  padding: 30px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.box h1 {
  font-weight: 600;
  font-size: 30px;
}
@media (min-width: 768px) {
  .box h1 {
    font-size: 25px;
  }
}

.grid {
  display: grid;
  gap: 30px;
}
@media (min-width: 762px) {
  .grid.one-col {
    margin: 0 100px;
  }
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.one-col {
    grid-template-columns: 1fr;
  }
  .grid.one-col {
    margin: 0 200px;
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.one-col {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }
  .grid.one-col .box {
    grid-column: 2 / 3;
  }
  .grid.two-col {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.two-col .box:nth-child(1) {
    grid-column: 2 / 4;
  }
  .grid.two-col .box:nth-child(2) {
    grid-column: 4 / 6;
  }
}
//PRODUCTOS

.productos {
  width: 100%;
  font-size: 18px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid rgb(52, 58, 64, 0.2);
  padding-bottom: 10px;
  height: 150px;
  overflow: auto;
}
.producto {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
}
.producto p {
  margin-bottom: 0;
  // padding-bottom: 10px;
}
.vin {
  font-weight: 800;
  font-size: 20px;
}
.nombre-producto {
  text-align: start;
}
.precio {
  font-weight: 600;
}
.div-total {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  margin-top: 10px;
}
.total {
  margin-bottom: 0;
  font-size: 20px;
}
.total span {
  font-weight: 800;
  font-size: 22px;
}
.fecha {
  width: 100%;
  color: #343a40;
  margin-bottom: 0;
}
.fecha p {
  margin-bottom: 0;
}
.estado {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
}
.estado span {
  font-weight: 600;
}

.estado-red {
  color: red;
}

.estado-yellow {
  color: #ebbe0e;
}

.estado-green {
  color: #48b823;
}

.estado-blue {
  color: #0874bc;
}
//ESTILOS FILTROS
.filter-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 10px; /* Añadir espacio entre los filtros */
}

.status-filter,
.completed-filter {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  width: 30%;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .filter-bar {
    flex-direction: column; /* Apilar los filtros verticalmente */
  }

  .status-filter,
  .completed-filter {
    width: 100%; /* Ajustar al ancho completo */
    margin-bottom: 10px; /* Añadir espacio entre los filtros */
  }
}
