// lkjlkjlk
.nosotros {
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-image: url(../../../../assets/457402195_1033340645149779_1729530164898725567_n.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 800px;
}

@media (min-width: 768px) {
  .nosotros {
    background-size: 950px;
    grid-template-rows: repeat(2, 1fr);
    background-position: bottom center;
  }
}

@media (min-width: 992px) {
  .nosotros {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contenido-nosotros {
  background-color: white;
  padding: 0rem 3rem 3rem 3rem;
  text-align: justify;
  font-size: 16px;
}

@media (min-width: 768px) {
  .contenido-nosotros {
    font-size: 18px;
    padding: 5rem;
    text-align: start;
  }
}

@media (min-width: 992px) {
  .contenido-nosotros {
    grid-column: 2/4;
  }
}

h2,
p {
  margin-bottom: 1rem;
}

.historia {
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-image: url(../../../../assets/menu.jpg);
  background-repeat: no-repeat;
  background-position: 50% 110%;
  background-size: 800px;
}

@media (min-width: 768px) {
  .historia {
    font-size: 18px;
    background-size: 950px;
    grid-template-rows: repeat(2, 1fr);
    background-position: bottom right;
  }
}

@media (min-width: 992px) {
  .historia {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contenido-historia {
  background-color: white;
  padding: 3rem 3rem 0 3rem;
  text-align: justify;
}

@media (min-width: 768px) {
  .contenido-historia {
    padding: 5rem;
    text-align: start;
  }
}

@media (min-width: 992px) {
  .contenido-historia {
    grid-column: 1/3;
  }
}
.sub {
  font-size: 38px;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .sub {
    font-size: 55px;
    text-align: start;
    margin-bottom: 30px;
  }
}
