<div class="reply-container">
  <form (ngSubmit)="submitReply()" #commentForm="ngForm" novalidate>
    <div class="form-group">
      <label for="description">Tu respuesta</label>
      <textarea id="description" [(ngModel)]="description" name="description" class="form-control"
        placeholder="Escribe tu respuesta aquí" required></textarea>
    </div>

    <!-- Spinner mientras se envía la respuesta -->
    <app-spinner *ngIf="loading"></app-spinner>

    <!-- Botón de Envío -->
    <button type="submit" class="btn-reply" [disabled]="loading || !description.trim()">
      Enviar respuesta
    </button>
  </form>
</div>